@import '../styles/_mixins';

.Home {
    @include center-vertically;
    min-height: 100vh;
    &-icons {
        @include center;
        @include pointer;
    }

    h1 {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    .Home {
        h1 {
            width: 100%;
        }
    }
  }