@import '../styles/_mixins';

.ProjectRow1 {
    min-height: 100vh;
    @include center-vertically;
    border: 1px solid red;

    &-projects {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 700px) {
    .ProjectRow1-projects {
        flex-direction: column;
    }
  }