@import '../styles/_mixins';

.Project {
    width: 45%;
    border: 1px solid green;
    // height: 45%;
    height: 600px;
    img {
        width: 100%;
        border: 1px solid blue;
    }

    p {
        
    }

    &-technology {
        display: flex;
        flex-wrap: wrap;

        &-item {
            border: 1px solid black;
            margin-bottom: 5px;
            margin-right: 5px;
        }
    }
}

@media only screen and (max-width: 700px) {
    .Project {
        width: 100%;
    }
}