.ProjectSmall {
    width: 30%;

    &-main {
        // width: 30%;
        border: 1px solid green;
        img {
            width: 100%;
        }
    }

    &-view {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 700px) {
    .ProjectSmall {
        width: 100%;
    }
  }
