@import '../styles/_mixins';

.Project {
    margin-bottom: 1em;
    border: 1px solid green;
    @include center-vertically;
    flex-direction: row;


    &-image {
        border: 1px solid blue;
        width: 50%;

        &:hover {
            z-index: 1;
        }

        img {
            width: 100%;
            background-color: rgba(255, 243, 79, 0.1);
        }
    }


    &-detail {
        width: 50%;
        height: 50%;
        background-color: grey;
        margin-left: -5em;
        padding: 0.5em;

        &-technology {
            display: flex;
            flex-wrap: wrap;
    
            &-item {
                border: 1px solid black;
                background-color: black;
                color: white;
                margin-bottom: 15px;
                margin-right: 5px;
                padding: 0.3em;
                transition: transform 250ms;
                cursor: default;
                @include hoverAnimation;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    
        &-buttons {
            display: flex;
            justify-content: flex-end;
        }
    }


}

@media only screen and (max-width: 700px) {
    .Project {
        position: relative;
        &-image {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;

            img {
                height: 100%
            }
        }

        &-detail {
            width: 100%;
            background-color: transparent;
            margin-left: 0;
        }
    }
}
