@import './styles/_mixins';

.App {
@include center;
// border: 1px solid red;
max-width: 1200px;
margin: auto;
flex-direction: column;

h1 {
    font-size: 3rem;
}

a {
    color: inherit;
}
}

::-webkit-scrollbar {
    width: 10px;
  }

/* Handle */
::-webkit-scrollbar-thumb {
    background: #353535; 
  }